*{
    padding:0;
    margin:10px;

}
body{
 
    background-image:url("../images/table.png");
    background-size:cover;
    position:relative;
    background-repeat:no-repeat;
    background-position:center;
    text-align:center;
    overflow-x:hidden;
    color:white;
    font-size:20px;
    font-weight:bold;
}
h1 {
    color:rgb(243,243,13);
}
#message-el{
    font-style:italic;
}
button{

    padding:10px;
     width:340px;  
     background-color:rgb(243, 243, 13);
      border:none; 
     border-radius:10px; 
     font-weight:bolder;
     color:green;

}